{% block content %}
    <h1>detail</h1>
    <p>todo here we need a form</p>
    <form id="todo_create" action="" method="post">
      <div>
      {{ form.shorttext }}
      </div>
    </div>
    <div>
      <div>
        {{ form.longtext }}
      </div>
    </div>
    <div>
      <div>
        {{ form.till_when_test }}
      </div>
      <div>
        {{ form.status }}
      </div>
      <div>
        {{ form.list_items }}
      </div>
      <button type="submit" class="btn btn-primary">Speichern</button>
    </form>
{% endblock %}

